
html, body {
  overflow: hidden;
  height: 100%;
}

body{
    padding-bottom: 0;
}

body #content {
    padding: 0;
}

body #calendar{
    margin-bottom: 0;
}

header{
    -webkit-app-region: drag;
    padding-left: 10px;
}

header ul li{
    -webkit-app-region: no-drag;
}

header ul li a{
    -webkit-user-select: none;
}

.fc-scroller{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.fc .ui-widget-header {
  position: relative;
}

.fc-day-header.total:before {
    content : attr(data-total);
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    background: rgba(200,00,0,0.5);
    color: white;
    padding: 6px;
}

.leftmenu{
    position: absolute;
    left: 30px;
    z-index: 10;
    top: 31px;
}

.slider-track{
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 3px !important;
}

.slider-track .slider-selection{
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #2196f3;
    box-shadow: none;
}

.slider-track .slider-handle.round{
    background: #2196f3;
    width: 19px;
    height: 19px;
    border: 0;
    border-radius: 100%;
    top: -8px;
    margin-top: 0;
    margin-left: -10px;   
    box-shadow: none;
    -webkit-transition: box-shadow;
    -o-transition: box-shadow;
    transition: box-shadow;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    cursor: pointer;
    position: relative;
    opacity: 1;
}
.slider-track .slider-handle.round.active{
    box-shadow: 0 0 0 13px rgba(0,0,0,0.1);
}


.tooltip.top{
    margin-top: -8px;
}