
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
         local('Roboto-Regular'),
         url('../fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Regular-webfont.ttf') format('truetype');
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'),
         local('Roboto-Light'),
         url('../fonts/Roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'),
         local('Roboto-Medium'),
         url('../fonts/Roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Medium-webfont.ttf') format('truetype');
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mdl-layout__header-row{
    padding-left: 26px;
}

.mdl-layout-title{
  font-weight: 300;
}


.leftmenu{
    position: absolute;
    left: 0px;
    padding: 8px 0;
}

.rightmenu{
    position: absolute;
    right: 16px;
}



html, body {
  overflow: hidden;
  height: 100%;
}

body{
    padding-bottom: 0;
}

body #content {
    padding: 0;
}

body #calendar{
    margin-bottom: 0;
}

header{
    -webkit-app-region: drag;
}

header .mdl-navigation{
    -webkit-app-region: no-drag;
}

header .mdl-layout-title{
    -webkit-user-select: none;
}

.fc-scroller{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.fc .ui-widget-header {
  position: relative;
}

.fc-day-header.total:before {
    content : attr(data-total);
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    background: rgba(200,00,0,0.5);
    color: white;
    padding: 6px;
}
















